$BACKGROUND_COLOR: #fff;
$GREEN_COLOR: #a0c814;
$BROWN_COLOR: #374105;
$GRAY_COLOR: #dddddd;

.game3 {
  height: 100vh;
  padding-top: 100px;

  display: flex;
  justify-content: center;
  gap: 15px;

  .word {
    width: 150px;
    font-size: 25px;
    position: relative;
    height: max-content;
  }
}
