$BACKGROUND_COLOR: #fff;
$GREEN_COLOR: #a0c814;
$BROWN_COLOR: #374105;
$GRAY_COLOR: #dddddd;

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#centar {
  background: #5ac8f5;
  width: 150px;
  text-align: center;
}

.line3 {
  // position: relative;
  margin-left: 140.5px !important;
}

.game3v2 {
  height: 100vh;
  padding-top: 150px;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  //   gap: 0.5em;
  //   margin-top: 100px;
  margin-left: 200px;
}
#levo,
#desno {
  display: flex;
  /*gap: 0.5em;*/
}
#desno > div > .wrapper,
#levo > div > .wrapper {
  padding: 0 5px;
}
#centar .word {
  padding: 10px;
}

.line1 > #centar {
  border-radius: 10px 10px 0 0;
}

.line3 > #centar {
  border-radius: 0 0 10px 10px;
}

.word {
  position: relative;
  cursor: pointer;
  transition: all 0s ease 0s;
  font-size: 25px;

  p {
    transition: 0.5s;
    border-radius: 5px;
    padding: 2px;
    &:hover {
      background-color: $GRAY_COLOR;
    }
  }
}

.transition {
  transition: all 0.2s ease 0s !important;
}

.circle {
  content: "";
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #5ac9f5ab;
  z-index: -1;
  position: absolute;
}

.opacity {
  opacity: 0;
}
