$BACKGROUND_COLOR: #fff;
$GREEN_COLOR: #a0c814;
$BROWN_COLOR: #374105;
$GRAY_COLOR: #dddddd;

.game3 {
  height: 100vh;
  padding-top: 100px;
  margin-left: 200px;
  width: 1000px;

  .line {
    display: flex;
    gap: 15px;
    position: relative;
    align-items: center;
  }

  .line1 {
    .center {
      border-radius: 10px 10px 0 0;
    }
  }

  .line3 {
    left: 66.5px;
  }

  .word {
    font-size: 25px;
    position: relative;
    height: max-content;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px;

    &:hover {
      background-color: $GRAY_COLOR;
    }
    // border: 1px solid red;
  }

  .center {
    background-color: #5ac8f5;
    width: 150px;
    display: flex;
    padding: 10px 0;
    justify-content: center;
  }

  .verb {
    // z-index: -1;
    font-size: 25px;
    position: relative;
    height: max-content;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px;
    width: max-content;

    &:hover {
      background-color: $GRAY_COLOR;
    }
  }
}
