$BACKGROUND_COLOR: #fff;
$GREEN_COLOR: #a0c814;
$BROWN_COLOR: #374105;
$GRAY_COLOR: #dddddd;

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#centar {
  background: #5ac8f5;
  width: 150px;
  text-align: center;
}

.line3 {
  // position: relative;
  margin-left: 152.1px !important;
}

.game3v2 {
  height: 100vh;
  padding-top: 125px;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  //   gap: 0.5em;
  //   margin-top: 100px;
  margin-left: 200px;
}
#levo,
#desno {
  display: flex;
  /*gap: 0.5em;*/
}
#desno > div > .wrapper,
#levo > div > .wrapper {
  padding: 0 5px;
}
#centar .word {
  padding: 10px;
}

.line1 > #centar {
  border-radius: 10px 10px 0 0;
}

.line3 > #centar {
  border-radius: 0 0 10px 10px;
}

.word {
  position: relative;
  transition: all 0s ease 0s;
  font-size: 20px;
  transition: 0.2s;

  p {
    transition: 0.5s;
    border-radius: 5px;
    padding: 2px;
  }
}

.cursor {
  cursor: pointer;

  p {
    &:hover {
      background-color: $GRAY_COLOR !important;
    }
  }
}

// .transition {
//   transition: all 0.2s ease 0s;
// }

.circle {
  content: "";
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #5ac9f5ab;
  z-index: -1;
  position: absolute;
}

.opacity {
  opacity: 0;
}

.regel2 {
  .options {
    justify-content: center;
  }
}

.regel {
  background-color: #788287;
  width: max-content;
  font-size: 20px;
  padding: 25px 25px 50px 25px;
  margin: auto;
  margin-top: 115px;
  border-radius: 10px;

  .title {
    font-weight: bold;
    color: $BACKGROUND_COLOR;
    margin-bottom: 25px;
  }

  .sentence {
    font-size: 24px;
    display: flex;
    align-items: center;

    .blank {
      background-color: $BACKGROUND_COLOR;
      width: 125px;
      font-size: 20px;
      margin: 0 15px;
      padding: 5px 15px;
      border-radius: 5px;
      color: $BACKGROUND_COLOR;
    }
  }

  .options {
    display: flex;
    gap: 15px;
    margin-top: 30px;

    .opt {
      width: 125px;
      text-align: center;
      background-color: $GREEN_COLOR;
      color: $BACKGROUND_COLOR;
      padding: 5px 15px;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
    }
  }
}

.help-btn {
  position: absolute;
  left: -500px;
}

.regelOpacity {
  transition: 0.5s;
  opacity: 0;
}

.wrong1 {
  position: absolute;
  top: 280px;
  padding: 10px;
  line-height: 20px;
  color: $GRAY_COLOR;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  left: 200px;
  width: 150px;
  background-color: #eb6400;
  font-size: 14px;

  &:after {
    position: absolute;
    content: "";
    background-color: #eb6400;
    height: 20px;
    width: 20px;
    top: -10px;
    transform: rotate(45deg);
    left: 0;
    right: 0;
    margin: auto;
  }
}

.wrong2 {
  left: 420px;
}
